.inicio{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.carousel-container{
    width: 100%;
}
.img-carrousel{
    width: 50% !important;
    height: 300px;
    object-fit: cover;
    border-radius: 100px;
}
.img-inicio{
    width: 15%;
    height: auto;
    margin-bottom: -70px;
}

@media (max-width: 1000px){
    .inicio{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin-bottom: 150px;
        background-color: #dbdada;
    }
    .img-inicio{
        width: 50%;   
        margin-bottom: -70px;
    }
    .img-carrousel{
        border-radius: 400px;
        height: 150px;
    }
}


